annotated-types
appdirs
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
cssselect
fake-useragent
geographiclib
geopy
idna
importlib-metadata
lxml
numpy
parse
pydantic
pydantic_core
pyee
pyppeteer
pyquery
requests
requests-html
soupsieve
tqdm
typing_extensions
urllib3
w3lib
websockets
zipp
